ALPINE_VER=3.18
DB_CONNECTION_LATENCY_MILLISECONDS=50
DB_CONNECTION_SHOW_STATUS=false
DB_CONNECTION_TIMEOUT_SECONDS=10
DB_DATABASE=video_hosting
DB_DRIVER=postgres
DB_HOST=127.0.0.1
DB_HOSTNAME=localhost
DB_LOCAL_DIR=./.dbdata/postgres/data
DB_MIGRATION_CONTAINER_NAME=vh-db-migration
DB_MIGRATION_PORT=5442
DB_NAME=video_info
DBO_CONNECTION_LATENCY_MILLISECONDS=500
DBO_CONNECTION_SHOW_STATUS=false
DBO_CONNECTION_TIMEOUT_SECONDS=10
DBO_DRIVER=postgres
DBO_HOST=127.0.0.1
DBO_NAME=video_storage
DBO_PASSWORD=''
DBO_PORT=5432
DBO_SSL_ENABLE=false
DBO_USERNAME=postgres
DB_PASSWORD=''
DB_PORT=5432
DB_SSL_ENABLE=false
DB_USERNAME=postgres
GO_VER=1.18
HASHING_PASSWORD_SALT=''
HASHING_TOKEN_SIGNING_KEY=''
HTTP_SERVER_LISTEN_PORT=8080
NGINX_VER=1.25.4
POSTGRES_VER=16.1
SERVER_APP_NAME=server
SERVER_HOST=127.0.0.1
SERVER_PORT=8080
SERVER_READ_TIMEOUT_SECONDS=15
SERVER_WRITE_TIMEOUT_SECONDS=15
WEB_LOCAL_DIR=./web
WEB_PORT=8090
