ALPINE_VER=3.18
DB_DATABASE=video_hosting
DB_DRIVER=postgres
DB_HOSTNAME=localhost
DB_LOCAL_DIR=./.dbdata/postgres/data
DB_MIGRATION_CONTAINER_NAME=vh-db-migration
DB_MIGRATION_PORT=5442
DB_PASSWORD=
DB_PORT=5432
DB_SSLMODE=disable
DB_USERNAME=postgres
GO_VER=1.20
HASHING_PASSWORD_SALT=""
HASHING_TOKEN_SIGNING_KEY=""
HTTP_SERVER_LISTEN_PORT=8080
NGINX_VER=1.25.4
POSTGRES_VER=16.1
SERVER_APP_NAME=server
WEB_LOCAL_DIR=./web
WEB_PORT=8090
